# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Environment variables
/backend/config/.env
/backend/config/.env.test
/backend/config/.env.local
/backend/config/config
/backend/config/tokens
